In [3]:
import pandas as pd
import numpy as np

# Load data

In [5]:
path = r"C:\Users\Chris\Desktop\DTU\8. Semester\Bachelorprojekt\Data\df_cleaned4_19SEP23.csv"
stops = r"C:\Users\Chris\Desktop\DTU\8. Semester\Bachelorprojekt\Data\df_stops_GTFS.csv"
pathset = r"C:\Users\Chris\Desktop\DTU\8. Semester\Bachelorprojekt\Data\PathSet_19SEP23.csv"

path = pd.read_csv(path)
stops = pd.read_csv(stops)
pathset = pd.read_csv(pathset)

In [34]:
pathset.head()

,origin,destination,RuteIdSeq,StopNbSequence,ModalKomb,ModeSeq,transfers,WalkDistance(m),TT(min),TripFrequency,OD,full_stop_sequence,full_stop_sequence2,distance_seq(km),total_distance(km),path_edges,all_edges,PS_i,PS_ln_i,waiting_time,Planned_TT_Bus,Planned_TT_Tog,Planned_TT_Metro,Planned_TT
0,6,474,300S,6;474,Bus,Bus-Bus,0,[],20.583333,1,6-474,6;2200;593;53777;470;54608;641;474,"['6', '2200', '593', '53777', '470', '54608', ...","[1.45162, 0.56987, 0.36542, 0.52134, 0.18555, ...",4.37744,"['6-2200', '2200-593', '593-53777', '53777-470...","['6-2200', '2200-593', '593-53777', '53777-470...",1.0,0.0,1.728528,24.0,0.0,0.0,24.0
1,6,641,300S,6;641,Bus,Bus-Bus,0,[],17.808333,2,6-641,6;2200;593;53777;470;54608;641,"['6', '2200', '593', '53777', '470', '54608', ...","[1.45162, 0.56987, 0.36542, 0.52134, 0.18555, ...",3.93298,"['6-2200', '2200-593', '593-53777', '53777-470...","['6-2200', '2200-593', '593-53777', '53777-470...",1.0,0.0,1.728528,22.0,0.0,0.0,22.0
2,6,1927,300S-183,6;2200;10059;1927,Bus,Bus-Bus-Bus,1,[57.44325247338995],27.583333,1,6-1927,6;464;2200-10059;54419;619;1923;1924;10367;192...,"['6', '464', '2200', '10059', '54419', '619', ...","[1.04178, 1.0204, 0.05744, 0.29423, 0.33794, 0...",4.67489,"['6-464', '464-2200', '2200-10059', '10059-544...","['6-464', '464-2200', '2200-10059', '10059-544...",1.0,0.0,1.728528,14.0,0.0,0.0,14.0
3,6,1956,300S-E;A-5C,6;2200;8600675;8600646;50461;1956,Tog+Bus,Bus-Tog-Bus-Bus,2,"[80.34621593353658, 14.139047860327375]",39.300000,1,6-1956,6;464;2200-8600675;8600674;8600673;8600672;860...,"['6', '464', '2200', '8600675', '8600674', '86...","[1.04178, 1.0204, 0.08035, 1.364, 1.54974, 1.5...",14.98978,"['6-464', '464-2200', '2200-8600675', '8600675...","['6-464', '464-2200', '2200-8600675', '8600675...",1.0,0.0,1.728528,8.0,19.0,0.0,27.0
4,6,2200,300S,6;2200,Bus,Bus-Bus,0,[],9.600000,5,6-2200,6;464;2200,"['6', '464', '2200']","[1.04178, 1.0204]",2.06218,"['6-464', '464-2200']","['6-464', '464-2200']",1.0,0.0,1.728528,6.0,0.0,0.0,6.0

In [ ]:
StopIdSequence = path['StopIdSequence'].unique()
StopIdSequence

0         Skjolds Plads St. (tog);Kongens Nytorv St. (Me...
1         DR Byen St. (Metro) (tog);Skjolds Plads St. (tog)
2                              Albjergparken;Brøndby Hallen
3                              Brøndby Hallen;Albjergparken
4         Tycho Brahes Allé;Hovedbanegården, Tivoli;Vanl...
                                ...
318626               Rigshospitalet, Glostrup;Fabriksparken
318627               Ejby Smedevej;Rigshospitalet, Glostrup
318628              Carlsberg St. (tog);Østerport St. (tog)
318629              Østerport St. (tog);Carlsberg St. (tog)
318630    København H - metro (tog);Enghave Plads St. (tog)
Name: StopIdSequence, Length: 318631, dtype: object

In [32]:
pd.set_option('display.max_columns', 500)

path.head()

,turngl,ContractorSequence,TimeSequence,Start_Time,End_Time,turtype,ModalKomb,StopNbSequence,StopIdSequence,ModeSeq,origin,destination,origin_n,destination_n,RuteIdSeq,TT,TT(min),StopNbSequence_org,StopIdSequence_org,RuteIdSeq_org,ModeSeq_org,stop_id_or,stop_lat_or,stop_lon_or,stop_id_dest,stop_lat_dest,stop_lon_dest,transfers,Legs,turtype_org,Distance,StopIds,StopNames,CleanStopNames,IsOnCityringen
0,4.692380e+14,Metro Metro,2023-09-19T08:02:09 2023-09-19T08:19:16,19/09/2023 08:02,19/09/2023 08:19,FiCo,Metro,8603338;8603308,Skjolds Plads St. (tog);Kongens Nytorv St. (Me...,Metro-Metro,8603338,8603308,Skjolds Plads St. (tog),Kongens Nytorv St. (Metro) (tog),M3,0 days 00:17:07,17.116667,8603338;8603308,Skjolds Plads St. (tog);Kongens Nytorv St. (Me...,nan-nan,Metro-Metro,8603338,55.703280,12.548233,8603308,55.679185,12.585228,0,1,FiCo,[],"[8603338, 8603308]","[Skjolds Plads St. (tog), Kongens Nytorv St. (...","[Skjolds Plads, Kongens Nytorv]",True
1,4.692380e+14,Metro Metro,2023-09-19T16:58:02 2023-09-19T17:19:40,19/09/2023 16:58,19/09/2023 17:19,FiCo,Metro,8603311;8603308;8603308;8603338,DR Byen St. (Metro) (tog);Skjolds Plads St. (tog),Metro-Metro,8603311,8603338,DR Byen St. (Metro) (tog),Skjolds Plads St. (tog),M1-M3,0 days 00:21:38,21.633333,8603311;8603338,DR Byen St. (Metro) (tog);Skjolds Plads St. (tog),nan-nan,Metro-Metro,8603311,55.655813,12.588990,8603338,55.703280,12.548233,1,2,FiCo,[0.0],"[8603311, 8603308, 8603308, 8603338]","[DR Byen St. (Metro) (tog), Skjolds Plads St. ...","[DR Byen, Skjolds Plads]",True
2,4.693430e+14,City-Trafik (Movia TH) City-Trafik (Movia TH),2023-09-19T14:02:20 2023-09-19T14:05:43,19/09/2023 14:02,19/09/2023 14:05,FiCo,Bus,3853;3854,Albjergparken;Brøndby Hallen,Bus-Bus,3853,3854,Albjergparken,Brøndby Hallen,500S;166;13,0 days 00:03:23,3.383333,3853;3854,Albjergparken;Brøndby Hallen,500S-500S,Bus-Bus,3853,55.625361,12.425191,3854,55.646604,12.414979,0,1,FiCo,[],"[3853, 3854]","[Albjergparken, Brøndby Hallen]","[Albjergparken, Brøndby Hallen]",False
3,4.693430e+14,City-Trafik (Movia TH) City-Trafik (Movia TH),2023-09-19T14:38:24 2023-09-19T14:42:37,19/09/2023 14:38,19/09/2023 14:42,FiCo,Bus,3836;3837,Brøndby Hallen;Albjergparken,Bus-Bus,3836,3837,Brøndby Hallen,Albjergparken,500S;166;13,0 days 00:04:13,4.216667,3836;3837,Brøndby Hallen;Albjergparken,500S-500S,Bus-Bus,3836,55.646538,12.414783,3837,55.625347,12.425031,0,1,FiCo,[],"[3836, 3837]","[Brøndby Hallen, Albjergparken]","[Brøndby Hallen, Albjergparken]",False
4,4.693610e+14,Arriva (Movia TH) Anchersens Rute (Movia TH) A...,2023-09-19T08:00:08 2023-09-19T08:19:31 2023-0...,19/09/2023 08:00,19/09/2023 08:45,FiSuCo,Bus,663;10844;10845;2112,"Tycho Brahes Allé;Hovedbanegården, Tivoli;Vanl...",Bus-Bus-Bus,663,2112,Tycho Brahes Allé,"Vanløse, Jydeholmen",5C-31,0 days 00:44:57,44.950000,663;10845;2112,"Tycho Brahes Allé;Hovedbanegården, Tivoli;Vanl...",5C-31-31,Bus-Bus-Bus,663,55.654982,12.610225,2112,55.685250,12.483030,1,2,FiSuCo,[35.22019153903658],"[663, 10844, 10845, 2112]","[Tycho Brahes Allé, Hovedbanegården, Tivoli, V...","[Tycho Brahes Allé, Hovedbanegården, Tivoli, V...",False

In [23]:
import pandas as pd
import re

df = path

# Split the sequences into lists
df['StopIds'] = df['StopNbSequence'].str.split(';')
df['StopNames'] = df['StopIdSequence'].str.split(';')

# Function to clean station names by removing suffixes
def clean_station_name(name):
    name = re.sub(r'\s*\(.*?\)', '', name).strip()  # Remove parentheses and their content
    name = re.sub(r'\s+St\.$', '', name)  # Remove " St." if it appears at the end
    return name

# Create a new column for cleaned station names
df['CleanStopNames'] = df['StopNames'].apply(lambda names: [clean_station_name(n) for n in names])

df.head()

,turngl,ContractorSequence,TimeSequence,Start_Time,End_Time,turtype,ModalKomb,StopNbSequence,StopIdSequence,ModeSeq,...,stop_lat_dest,stop_lon_dest,transfers,Legs,turtype_org,Distance,StopIds,StopNames,CleanStopNames,IsOnCityringen
0,4.692380e+14,Metro Metro,2023-09-19T08:02:09 2023-09-19T08:19:16,19/09/2023 08:02,19/09/2023 08:19,FiCo,Metro,8603338;8603308,Skjolds Plads St. (tog);Kongens Nytorv St. (Me...,Metro-Metro,...,55.679185,12.585228,0,1,FiCo,[],"[8603338, 8603308]","[Skjolds Plads St. (tog), Kongens Nytorv St. (...","[Skjolds Plads, Kongens Nytorv]",False
1,4.692380e+14,Metro Metro,2023-09-19T16:58:02 2023-09-19T17:19:40,19/09/2023 16:58,19/09/2023 17:19,FiCo,Metro,8603311;8603308;8603308;8603338,DR Byen St. (Metro) (tog);Skjolds Plads St. (tog),Metro-Metro,...,55.703280,12.548233,1,2,FiCo,[0.0],"[8603311, 8603308, 8603308, 8603338]","[DR Byen St. (Metro) (tog), Skjolds Plads St. ...","[DR Byen, Skjolds Plads]",False
2,4.693430e+14,City-Trafik (Movia TH) City-Trafik (Movia TH),2023-09-19T14:02:20 2023-09-19T14:05:43,19/09/2023 14:02,19/09/2023 14:05,FiCo,Bus,3853;3854,Albjergparken;Brøndby Hallen,Bus-Bus,...,55.646604,12.414979,0,1,FiCo,[],"[3853, 3854]","[Albjergparken, Brøndby Hallen]","[Albjergparken, Brøndby Hallen]",False
3,4.693430e+14,City-Trafik (Movia TH) City-Trafik (Movia TH),2023-09-19T14:38:24 2023-09-19T14:42:37,19/09/2023 14:38,19/09/2023 14:42,FiCo,Bus,3836;3837,Brøndby Hallen;Albjergparken,Bus-Bus,...,55.625347,12.425031,0,1,FiCo,[],"[3836, 3837]","[Brøndby Hallen, Albjergparken]","[Brøndby Hallen, Albjergparken]",False
4,4.693610e+14,Arriva (Movia TH) Anchersens Rute (Movia TH) A...,2023-09-19T08:00:08 2023-09-19T08:19:31 2023-0...,19/09/2023 08:00,19/09/2023 08:45,FiSuCo,Bus,663;10844;10845;2112,"Tycho Brahes Allé;Hovedbanegården, Tivoli;Vanl...",Bus-Bus-Bus,...,55.685250,12.483030,1,2,FiSuCo,[35.22019153903658],"[663, 10844, 10845, 2112]","[Tycho Brahes Allé, Hovedbanegården, Tivoli, V...","[Tycho Brahes Allé, Hovedbanegården, Tivoli, V...",False

In [24]:
Cityringen = ["Frederiksberg Allé", "Frederiksberg", "Aksel Møllers Have", "Nuuks plads", "Nørrebors Runddel", "Nørrebro Station", "Skjolds Plads", "Vibenhus Runddel", "Poul Henningsens Plads", "Trianglen", "Østerport", "Marmorkirken", "Kongens Nytorv", "Gammel Strand", "Rådhuspladsen", "København H", "Enghave Plads"]



# Function to check if a station is on the Cityringen
def is_on_cityringen(stations):
    return any(name in Cityringen for name in stations)

# Create a new column to check if the station is on the Cityringen
df['IsOnCityringen'] = df['CleanStopNames'].apply(is_on_cityringen)

df.head()

,turngl,ContractorSequence,TimeSequence,Start_Time,End_Time,turtype,ModalKomb,StopNbSequence,StopIdSequence,ModeSeq,...,stop_lat_dest,stop_lon_dest,transfers,Legs,turtype_org,Distance,StopIds,StopNames,CleanStopNames,IsOnCityringen
0,4.692380e+14,Metro Metro,2023-09-19T08:02:09 2023-09-19T08:19:16,19/09/2023 08:02,19/09/2023 08:19,FiCo,Metro,8603338;8603308,Skjolds Plads St. (tog);Kongens Nytorv St. (Me...,Metro-Metro,...,55.679185,12.585228,0,1,FiCo,[],"[8603338, 8603308]","[Skjolds Plads St. (tog), Kongens Nytorv St. (...","[Skjolds Plads, Kongens Nytorv]",True
1,4.692380e+14,Metro Metro,2023-09-19T16:58:02 2023-09-19T17:19:40,19/09/2023 16:58,19/09/2023 17:19,FiCo,Metro,8603311;8603308;8603308;8603338,DR Byen St. (Metro) (tog);Skjolds Plads St. (tog),Metro-Metro,...,55.703280,12.548233,1,2,FiCo,[0.0],"[8603311, 8603308, 8603308, 8603338]","[DR Byen St. (Metro) (tog), Skjolds Plads St. ...","[DR Byen, Skjolds Plads]",True
2,4.693430e+14,City-Trafik (Movia TH) City-Trafik (Movia TH),2023-09-19T14:02:20 2023-09-19T14:05:43,19/09/2023 14:02,19/09/2023 14:05,FiCo,Bus,3853;3854,Albjergparken;Brøndby Hallen,Bus-Bus,...,55.646604,12.414979,0,1,FiCo,[],"[3853, 3854]","[Albjergparken, Brøndby Hallen]","[Albjergparken, Brøndby Hallen]",False
3,4.693430e+14,City-Trafik (Movia TH) City-Trafik (Movia TH),2023-09-19T14:38:24 2023-09-19T14:42:37,19/09/2023 14:38,19/09/2023 14:42,FiCo,Bus,3836;3837,Brøndby Hallen;Albjergparken,Bus-Bus,...,55.625347,12.425031,0,1,FiCo,[],"[3836, 3837]","[Brøndby Hallen, Albjergparken]","[Brøndby Hallen, Albjergparken]",False
4,4.693610e+14,Arriva (Movia TH) Anchersens Rute (Movia TH) A...,2023-09-19T08:00:08 2023-09-19T08:19:31 2023-0...,19/09/2023 08:00,19/09/2023 08:45,FiSuCo,Bus,663;10844;10845;2112,"Tycho Brahes Allé;Hovedbanegården, Tivoli;Vanl...",Bus-Bus-Bus,...,55.685250,12.483030,1,2,FiSuCo,[35.22019153903658],"[663, 10844, 10845, 2112]","[Tycho Brahes Allé, Hovedbanegården, Tivoli, V...","[Tycho Brahes Allé, Hovedbanegården, Tivoli, V...",False

# Now we start with subset where Cityringen is applicable

In [27]:
# Remove the rows that are not on the Cityringen
df = df[df['IsOnCityringen']]
df.shape
df.head()

,turngl,ContractorSequence,TimeSequence,Start_Time,End_Time,turtype,ModalKomb,StopNbSequence,StopIdSequence,ModeSeq,...,stop_lat_dest,stop_lon_dest,transfers,Legs,turtype_org,Distance,StopIds,StopNames,CleanStopNames,IsOnCityringen
0,4.692380e+14,Metro Metro,2023-09-19T08:02:09 2023-09-19T08:19:16,19/09/2023 08:02,19/09/2023 08:19,FiCo,Metro,8603338;8603308,Skjolds Plads St. (tog);Kongens Nytorv St. (Me...,Metro-Metro,...,55.679185,12.585228,0,1,FiCo,[],"[8603338, 8603308]","[Skjolds Plads St. (tog), Kongens Nytorv St. (...","[Skjolds Plads, Kongens Nytorv]",True
1,4.692380e+14,Metro Metro,2023-09-19T16:58:02 2023-09-19T17:19:40,19/09/2023 16:58,19/09/2023 17:19,FiCo,Metro,8603311;8603308;8603308;8603338,DR Byen St. (Metro) (tog);Skjolds Plads St. (tog),Metro-Metro,...,55.703280,12.548233,1,2,FiCo,[0.0],"[8603311, 8603308, 8603308, 8603338]","[DR Byen St. (Metro) (tog), Skjolds Plads St. ...","[DR Byen, Skjolds Plads]",True
12,4.699380e+14,DSB DSB,2023-09-19T15:47:49 2023-09-19T16:32:58,19/09/2023 15:47,19/09/2023 16:32,FiCo,Tog,8600719;8600626,Holbæk St. (tog);København H St. (tog),Tog-Tog,...,55.673059,12.565558,0,1,FiCo,[],"[8600719, 8600626]","[Holbæk St. (tog), København H St. (tog)]","[Holbæk, København H]",True
13,4.699380e+14,DSB DSB,2023-09-19T17:36:07 2023-09-19T18:37:41,19/09/2023 17:36,19/09/2023 18:37,FiCo,Tog,8600626;8600719,København H St. (tog);Holbæk St. (tog),Tog-Tog,...,55.715750,11.708598,0,1,FiCo,[],"[8600626, 8600719]","[København H St. (tog), Holbæk St. (tog)]","[København H, Holbæk]",True
17,6.697110e+14,Metro Metro,2023-09-19T10:23:14 2023-09-19T10:31:12,19/09/2023 10:23,19/09/2023 10:31,FiCo,Metro,8603335;8603332,Trianglen St. (tog);Gammel Strand St. (Metro) ...,Metro-Metro,...,55.677749,12.579575,0,1,FiCo,[],"[8603335, 8603332]","[Trianglen St. (tog), Gammel Strand St. (Metro...","[Trianglen, Gammel Strand]",True

In [ ]:
# Function to check if a trip is relevant to Cityringen
def is_valid_cityringen_trip(stations):
    if len(stations) == 2:  # Only origin and destination, no intermediates
        return stations[0] in Cityringen or stations[-1] in Cityringen  # Either start or end must be in Cityringen
    return True  # Otherwise, valid as there are intermediate stops

# Apply the filter to mark valid trips
df['IsValidCityringenTrip'] = df['CleanStopNames'].apply(is_valid_cityringen_trip)

# Filter out the invalid trips
df = df[df['IsValidCityringenTrip']]


print(df.shape)
df.head()

(81949, 36)

,turngl,ContractorSequence,TimeSequence,Start_Time,End_Time,turtype,ModalKomb,StopNbSequence,StopIdSequence,ModeSeq,origin,destination,origin_n,destination_n,RuteIdSeq,TT,TT(min),StopNbSequence_org,StopIdSequence_org,RuteIdSeq_org,ModeSeq_org,stop_id_or,stop_lat_or,stop_lon_or,stop_id_dest,stop_lat_dest,stop_lon_dest,transfers,Legs,turtype_org,Distance,StopIds,StopNames,CleanStopNames,IsOnCityringen,IsValidCityringenTrip
0,4.692380e+14,Metro Metro,2023-09-19T08:02:09 2023-09-19T08:19:16,19/09/2023 08:02,19/09/2023 08:19,FiCo,Metro,8603338;8603308,Skjolds Plads St. (tog);Kongens Nytorv St. (Me...,Metro-Metro,8603338,8603308,Skjolds Plads St. (tog),Kongens Nytorv St. (Metro) (tog),M3,0 days 00:17:07,17.116667,8603338;8603308,Skjolds Plads St. (tog);Kongens Nytorv St. (Me...,nan-nan,Metro-Metro,8603338,55.703280,12.548233,8603308,55.679185,12.585228,0,1,FiCo,[],"[8603338, 8603308]","[Skjolds Plads St. (tog), Kongens Nytorv St. (...","[Skjolds Plads, Kongens Nytorv]",True,True
1,4.692380e+14,Metro Metro,2023-09-19T16:58:02 2023-09-19T17:19:40,19/09/2023 16:58,19/09/2023 17:19,FiCo,Metro,8603311;8603308;8603308;8603338,DR Byen St. (Metro) (tog);Skjolds Plads St. (tog),Metro-Metro,8603311,8603338,DR Byen St. (Metro) (tog),Skjolds Plads St. (tog),M1-M3,0 days 00:21:38,21.633333,8603311;8603338,DR Byen St. (Metro) (tog);Skjolds Plads St. (tog),nan-nan,Metro-Metro,8603311,55.655813,12.588990,8603338,55.703280,12.548233,1,2,FiCo,[0.0],"[8603311, 8603308, 8603308, 8603338]","[DR Byen St. (Metro) (tog), Skjolds Plads St. ...","[DR Byen, Skjolds Plads]",True,True
12,4.699380e+14,DSB DSB,2023-09-19T15:47:49 2023-09-19T16:32:58,19/09/2023 15:47,19/09/2023 16:32,FiCo,Tog,8600719;8600626,Holbæk St. (tog);København H St. (tog),Tog-Tog,8600719,8600626,Holbæk St. (tog),København H St. (tog),RE,0 days 00:45:09,45.150000,8600719;8600626,Holbæk St. (tog);København H St. (tog),nan-nan,Tog-Tog,8600719,55.715750,11.708598,8600626,55.673059,12.565558,0,1,FiCo,[],"[8600719, 8600626]","[Holbæk St. (tog), København H St. (tog)]","[Holbæk, København H]",True,True
13,4.699380e+14,DSB DSB,2023-09-19T17:36:07 2023-09-19T18:37:41,19/09/2023 17:36,19/09/2023 18:37,FiCo,Tog,8600626;8600719,København H St. (tog);Holbæk St. (tog),Tog-Tog,8600626,8600719,København H St. (tog),Holbæk St. (tog),RE,0 days 01:01:34,61.566667,8600626;8600719,København H St. (tog);Holbæk St. (tog),nan-nan,Tog-Tog,8600626,55.673059,12.565558,8600719,55.715750,11.708598,0,1,FiCo,[],"[8600626, 8600719]","[København H St. (tog), Holbæk St. (tog)]","[København H, Holbæk]",True,True
17,6.697110e+14,Metro Metro,2023-09-19T10:23:14 2023-09-19T10:31:12,19/09/2023 10:23,19/09/2023 10:31,FiCo,Metro,8603335;8603332,Trianglen St. (tog);Gammel Strand St. (Metro) ...,Metro-Metro,8603335,8603332,Trianglen St. (tog),Gammel Strand St. (Metro) (tog),M3,0 days 00:07:58,7.966667,8603335;8603332,Trianglen St. (tog);Gammel Strand St. (Metro) ...,nan-nan,Metro-Metro,8603335,55.699135,12.576070,8603332,55.677749,12.579575,0,1,FiCo,[],"[8603335, 8603332]","[Trianglen St. (tog), Gammel Strand St. (Metro...","[Trianglen, Gammel Strand]",True,True